<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="com.noteApp.domain.repository.UserInfoRegisterRepository">
	
	<select id="validateUserName" parameterType="string" resultType="string">
		SELECT USERNAME FROM USERINFO
		WHERE USERNAME = #{userName}
	</select>


</mapper>