<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
	    http://www.springframework.org/schema/context/spring-context.xsd 
	    http://www.springframework.org/schema/aop  
	    http://www.springframework.org/schema/aop/spring-aop.xsd  ">
	    
	    
     <!-- 开启属性文件读取功能      --> 
     <bean id="property" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations" value="classpath:properties/datamess.properties"></property>
     </bean>
      
         <!-- 生成数据源 -->
         <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${userName}"/>
            <property name="password" value="${passWord}"/>
      </bean>   
        <!-- 配置mybatis -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource" />
        	<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        	
        	<!-- 自动扫描mapping.xml文件 -->
		    <property name="mapperLocations" value="classpath:mappers/*.xml"></property>
        </bean>
        
         <!-- 让mybatis去构建实现我们的接口实现类 -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
           <property name="basePackage" value="com.noteApp.domain.repository" />
        </bean>
	    
	    
	    
	    </beans>